
<div class="ui three column centered grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        
        <login-form></login-form>
        
        <div class="ui message">
            No account yet?
            <a data-nav="nav" href="/register">Sign Up</a>
        </div>
    </div>
</div>