<div class="ui three column centered grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                Create your account
            </div>
        </h2>
        
        <register-form></register-form>
        
        <div class="ui message">
            Have already an accout? 
            <a data-nav="nav" href="/login">Sign In</a>
        </div>
    </div>
</div>
